<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Inventory and Indent Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .table {
            overflow-x: auto;
        }
    </style>
</head>
<body class="bg-gray-100 relative min-h-screen">
    <nav class="bg-white p-4">
        <div class="container mx-auto flex justify-between">
            {% if session.user %} 
            <img src="https://erp.nicpr.org/nicpr_logo.png" alt="Logo" class="h-14 w-auto"> 
            {% else %} &nbsp;
            {% endif %}
            <div class="flex items-center gap-2">
                {% if session.user %}
                <div>
                    <a href="{{ url_for('user.index') }}" class="bg-blue-500 text-white px-4 py-2 rounded">Home</a>
                </div>
                <div class="">
                    <a href="{{ url_for('indent.create_indent') }}" class="bg-blue-500 text-white px-4 py-2 rounded">Create Indent</a>
                </div>
                <div class="">
                    <a href="{{ url_for('inventory.inventory') }}" class="bg-blue-500 text-white px-4 py-2 rounded">Manage Inventory</a>
                </div>
                <div class="">
                    <a href="{{ url_for('user.users') }}" class="bg-blue-500 text-white px-4 py-2 rounded">Manage Users</a>
                </div>
                <div>
                    Hi {{ session.user.name }} <a href="{{ url_for('auth.logout') }}" class="bg-red-500 text-white px-4 py-2 rounded">Logout</a>
                </div>
                
                {% else %}
                <a href="{{ url_for('auth.login') }}" class="bg-red-500 text-white px-4 py-2 rounded">Login</a>
                {% endif %}
            </div>
        </div>    
    </nav>

    <div class="p-6">
        {% block content %}{% endblock %}
    </div>
    <footer class="bg-gray-800 text-white p-4 text-center absolute bottom-0 w-full">
        <p>&copy; 2025 Store Inventory and Indent Management System. All rights reserved.</p>
    </footer>
</body>
</html>