{% extends "base.html" %}
{% block content %}
{% if session.user %}
<div class="mt-8">
    <h2 class="text-2xl mb-4">{{ greeting }}, {{ session.user.name }}</h2>
</div>
<div class="grid grid-cols-4 gap-4 mt-8">
    <div class="bg-white p-4 rounded shadow">
        <h3 class="text-xl mb-2">Total Users</h3>
        <p class="text-3xl">{{ total_users }}</p>
    </div>
    <div class="bg-white p-4 rounded shadow">
        <h3 class="text-xl mb-2">Total Indents</h3>
        <p class="text-3xl">{{ total_indents }}</p>
    </div>
    <div class="bg-white p-4 rounded shadow">
        <h3 class="text-xl mb-2">Total Store Masters</h3>
        <p class="text-3xl">{{ total_store_masters }}</p>
    </div>
    <div class="bg-white p-4 rounded shadow">
        <h3 class="text-xl mb-2">Total Inventory Items</h3>
        <p class="text-3xl">{{ total_inventory_items }}</p>
    </div>
</div>
{% else %}
<div class="bg-white p-4 rounded shadow mt-8 text-center">
    <img src="https://erp.nicpr.org/nicpr_logo.png" alt="Logo" class="w-42 w-auto mx-auto">
    <h2 class="text-2xl mb-4">Welcome to the Inventory Management System</h2>
    <p class="text-gray-700">This portal is designed to manage inventory efficiently. It provides features to track users, indents, store masters, and inventory items. Please log in to access detailed data and features.</p>
</div>
{% endif %}

{% endblock %}